<div ng-controller="user_register" ng-init="auth()">
<div ng-include="'pages/inc/header.html'" class="common-header"></div>

	<div class="container my-account-page">
		<div ng-include="'pages/user/inc/account-panel.html'" class="left-panel"></div>

		<div class="right-panel update-password w-shadow">
			<h4 class="page-name">Update your password</h4>
	<p ng-show="after_success_pass_update" style="font-size:12px;color:green">Password Successfully Updated..!</p>
	<p ng-show="after_failed_pass_update" style="font-size:12px;color:red"> Old Password Didn't Match <br/> Please Try Again.!</p>
			

			<div class="display-setting">
				<div class="left-panel">
					<div class="form-div">
						<span class="label">Please enter Old password</span>
						<input type="text" name="" class="input-box" placeholder="Old Password" ng-model="user_password_update_detail.old_pass">
					</div>
					<div class="form-div">
						<span class="label">Please enter new password</span>
						<input type="password" name="" class="input-box" placeholder="New Password" ng-model="user_password_update_detail.new_pass">
					</div>
					<div class="form-div">
						<span class="label">Please confirm new password</span>
						<input type="password" name="" class="input-box" placeholder="Confirm Password" ng-model="user_password_update_detail.confirm_pass">
					</div>
					<div class="form-div">
						<input type="submit" name="" class="submit-btn" value="Save" ng-click="user_password_update(user_password_update_detail)">
					</div>
				</div>

				<div class="right-panel">
					<div class="genrate-password">
						<div class="genrate-password" ng-include="'pages/inc/genrate-password.html'"></div>
					</div>
				</div>
			</div>
		</div>
		
	</div>

<div ng-include="'pages/inc/footer.html'"></div>

<script type="text/javascript">

	function randomPassword(length) {
    var chars = "abcdefghijklmnopqrstuvwxyz!@#$%^&*()-+<>ABCDEFGHIJKLMNOP1234567890";
    var pass = "";
    for (var x = 0; x < length; x++) {
        var i = Math.floor(Math.random() * chars.length);
        pass += chars.charAt(i);
    }
    return pass;
}

function generate() {
    myform.row_password.value = randomPassword(myform.length.value);
}
</script>
</div>