<div class="title-bar active">
	<span class="number">1</span>
	<h4 class="name" >Login</h4>
</div>

<!--IF ITS ALREADY LOGGED IN CHECK-->

<div ng-show="login_check_checkout_page" id="login_check_checkout_page">


<div class="login-check">
	<div class="section-title">
		<h6 class="title" ng-click="vsst()">Login with eatoeato</h6>
		<span class="caption">Please fill the form</span>
	</div>
	<!--<div ng-include="'pages/user/account/login-area.html'"></div>-->




<div id="loading-bar-container"></div>
<div ng-controller="user_register" ng-cloak>

<form name="myForm_login">
<div class="form-field">
	<div class="field-fillup">

		<input type="number" name="email_check" class="input-box" placeholder="Your Mobile No." ng-model="user_login.email" required="true">
		
		
	</div>

	<div class="field-fillup">
	
		<input type="password" name="" class="input-box" placeholder="Your Password" ng-model="user_login.password">
				
	</div>
</div>


<p ng-show="user_status" style="font-size:12px;color:red">Your Account has been deactivated.! <br><b>Please contact Administrator.!</b></p>

<p ng-show="after_success_login_message" style="font-size:12px;color:green">Login Successfull !!! <br><b>Redirecting You....</b></p>
<p ng-show="after_failed_login_message" style="font-size:12px;color:red;padding:10px;"><b>Either Bad Credential Or Not Activated Yet</b></p>
<p ng-show="after_failed_activation" style="font-size:12px;color:red">You have Registered but <b>Not Activated yet</b>,<br> please check your mail</p>

<div class="switch-btn">
	<div class="list padding-20px"><a href="#/forgot_user" class="forgot">Forgot your password ?</a></div>
	<div class="list padding-20px"><input type="submit" name="" class="submit-btn" value="Log in" ng-click="user_login_checkout(user_login)"  ng-disabled="myForm_login.$invalid || myForm_login.isDisabled"></div>
</div>

</form>
</div>















	<div class="external-button">
		<a href="#0" class="facebook"><span class="icon"><img src="public/images/icon/fb.png"></span> Facebook</a>
		<a href="#0" class="google"><span class="icon"><img src="public/images/icon/gp.png"></span>Google Plus</a>
	</div>
</div>

<div class="register-check">
	<div class="section-title">
		<h6 class="title">Register with eatoeato</h6>
		<span class="caption">Please fill the form</span>
	</div>
	<!--<div ng-include="'pages/user/account/register-area.html'"></div>-->





<div ng-controller="user_register"  ng-cloak>

<form name="myForm">

<div class="form-field">
	<div class="field-fillup">
		<label class="label required">name</label>
		<input type="text" name="my_username" class="input-box" placeholder="Your Email" ng-model="user_details.user_name" ng-minlength="5" 
        					ng-maxlength="20" required >

			 <p class="register_cook_error"  ng-show="myForm.my_username.$error.minlength">Username is too short.</p>

						<!-- show an error if username is too long -->
			<p  class="register_cook_error"   ng-show="myForm.my_username.$error.maxlength">Username is too long.</p>

						<!-- show an error if this isn't filled in -->
			<p class="register_cook_error" ng-show="myForm.my_username.$touched && myForm.my_username.$pristine "  ng-messages="myForm.my_username.$error">* Your Name is required.</p>

	</div>
	<div class="field-fillup">
		<label class="label required">Email</label>
		<input type="email" name="email_check" class="input-box" placeholder="Your Email" ng-model="user_details.user_email" >

			<p class="register_cook_error" ng-show="myForm.email_check.$invalid ">* Email is Invalid</p>
			<p  class="register_cook_error"   ng-show="myForm.email_check.$touched && myForm.email_check.$pristine "  ng-messages="myForm.email_check.$error">*Email is Required</p>
			

	</div>
	<div class="field-fillup">
		<label class="label required">mobile</label>
		<input type="number" name="mobile" class="input-box" placeholder="Your mobile" ng-model="user_details.user_contact_no" ng-minlength="10" ng-maxlength="10"  ng-required="true" ng-blur='verifyOTP()'>

			<p  class="register_cook_error"   ng-show="myForm.mobile.$error.minlength || myForm.mobile.$error.maxlength || myForm.mobile.$error.number  ">* Enter Valid Phone Number</p>
		</div>

			<div class="field-fillup" ng-show="verify_otp_textbox">
		<label class="label required" style="color:orangered">Verify Your Mobile No</label>
		<input type="text" name="phone" class="input-box" placeholder="Enter OTP"   ng-model="user_mobile_otp" >
		
		</div>

	<div class="field-fillup">
		<label class="label required">Password</label>
		<input type="password" name="password" class="input-box" placeholder="Your Password" ng-model="user_details.user_password"  ng-minlength="5" required >
		<p  class="register_cook_error"   ng-show="myForm.password.$error.minlength ">* Password is too Weak.!</p>
		<p  class="register_cook_error"   ng-show="myForm.password.$touched && myForm.password.$pristine "  ng-messages="myForm.password.$error">* Password is Required</p>

	</div>
</div>

<p ng-show="after_success_reg_message" style="font-size:12px;color:green"> You are Successfully Registered. <br><b>Please Check Your Email To Verify Your Account.</b></p>
<p ng-show="already_register_user" style="font-size:12px;color:red"> <b>Email Already Exist.</b></p>

<div class="switch-btn">
	<div class="list padding-20px"><input type="submit" name="" class="submit-btn" value="Create" ng-click="add_user_details_checkout(user_details)" ng-disabled="myForm.$invalid || myForm.isDisabled"></div>
</div>

</form>

</div>








</div>




</div>

