
<!-- main container start herer -->
<div class="main-container dashboard" ng-controller="admin_controller">

<div ng-include="'pages/admin/admin-left-menu.html'"></div>


	<div class="work-pannel">
		<!-- top header start here -->
		<div class="top-header">
			<div class="container">
				<ul class="menu">
					<li class="logout-btn"><a href="#0" class="main-link">Logout</a></li>
				</ul>
			</div>
		</div>
		<!-- top header end here -->

		<div class="container" ng-init="fetch_attribute()">
			<div class="view-pannel">

				<!-- page bar start here -->
				<div class="page-name-bar">
					<h2 class="page-name">Attributes</h2>
					<ul class="breadcrumbs">
						<li class="list"><a href="#0" class="link">Home</a></li>
						<li class="list">Attributes</li>
					</ul>

					<ul class="link-icon">
						<li class="list"><a href="#/admin/add-attribute-fields"  class="blue-btn"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
						<li class="list"><div class="white-btn" ng-click="fetch_attribute()" style="cursor: pointer"><i class="fa fa-refresh" aria-hidden="true"></i></div></li>
						<li class="list"><div class="red-btn" ng-click="attr_group_fields_delete()" style="cursor: pointer"><i class="fa fa-trash-o" aria-hidden="true"></i></div></li>
					</ul>
				</div>
				<!-- page bar end here -->

				<div class="table-view">
					<h3 class="head-name">Attribute List</h3>

					<ul class="cat-listing-show">
						<!-- heading part start here-->
						<li class="list main-name">
							<div class="coloum-div center">
								<input type="checkbox" name="" class="check-all-btn" ng-model="hasAllCookChecked" ng-click="checkAll_for_attr_fields()" >
							</div>
							<div class="coloum-div col-md-70">
								<span class="title">Attribute Name</span>
							</div>
							
							<div class="coloum-div col-md-15 center">
								<span class="title">Attribute Group</span>
							</div>
							<div class="coloum-div center  col-px-100">
								<span class="title">Action</span>
							</div>
						</li>
					</ul>
					<!-- heading part end here-->
					<ul class="cat-listing-show list-group">
						<li class="list" ng-repeat="attr in view_attr_field">
							<div class="coloum-div center">
								<input type="checkbox" name="" class="check-btn"  ng-checked="selection.indexOf(attr) > -1"
							 ng-click="toggleSelection(attr._id)" ng-model="attr.selected">
							</div>
							<div class="coloum-div col-md-70">
								<span class="title">{{attr.group_attr}}</span>
							</div>
							<div class="coloum-div col-md-15 center">
								<span class="title">{{attr.parent_group}}</span>
							</div>
							<div class="coloum-div center col-px-100">
								<a href="#/admin/edit-attribute-fields" class="red-btn" ng-click="update_attr_field_temp(attr._id)"><i class="fa fa-edit" aria-hidden="true"></i></a>
							</div>
						</li>

					</ul>
				</div>
			</div>
		</div>

	</div>
</div>
