
<div class="main-container dashboard" ng-controller="admin_controller">
<div ng-include="'pages/admin/admin-left-menu.html'"></div>
	<div class="work-pannel" ng-init="fetch_attr_group_name()">
		<!-- top header start here -->
		<div class="top-header">
			<div class="container">
				<ul class="menu">
					<li class="logout-btn"><a href="#0" class="main-link">Logout</a></li>
				</ul>
			</div>
		</div>
		<!-- top header end here -->

		<div class="container"  >
			<div class="view-pannel">

				<!-- page bar start here -->
				<div class="page-name-bar">
					<h2 class="page-name">Edit Attribute</h2>
					<ul class="breadcrumbs">
						<li class="list"><a href="#0" class="link">Home</a></li>
						<li class="list">Edit Attribute</li>
					</ul>

					<ul class="link-icon">
						<li class="list"><div class="blue-btn" ng-click="update_attr_field_final(attr_fields_details)"><i class="fa fa-floppy-o" aria-hidden="true"></i></div></li>
						<li class="list"><a href= "#/admin/attribute-list"  class="white-btn"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<!-- page bar end here -->

				<!-- table view start here -->
				<div class="table-view" ng-init="update_attr_field_fetch()" >
					<h3 class="head-name"><i class="fa fa-plus icon-name" aria-hidden="true"></i>Edit Attribute</h3>

						<div class="row ">
							<div class="row field-fillup">
								<span class="input-field-title mendatory"  >Edit Attribute Name</span>
								<div class="col-md-80 input-div"><input type="text" name="" class="input-box" placeholder="Attribute Name" ng-model="attr_fields_details.group_attr"></div>
							</div>

							<div class="row field-fillup">
								<span class="input-field-title mendatory">Attribute Group</span>
								<div class="col-md-80 input-div">
									  <select ng-model="attr_fields_details.group_name"  class="select-option">
        <option ng-repeat="item in details_for_group" value="{{item.group_name}}">{{item.group_name}}</option>
      </select>
							<!--<select class="select-option" ng-model="attr_fields_details.parent_group" ng-options="item as item.fields for item in details_for_group.group_name">
							</select>-->
								</div>
							</div>
<!--
							<div class="row field-fillup">
								<span class="input-field-title">Sort Order</span>
								<div class="col-md-80 input-div"><input type="text" name="" class="input-box" placeholder="Sort Order" ng-model="attr_fields_details.sort_order"></div>
							</div>-->
							
						</div>

				</div>
				<!-- table view end here -->


			</div>
		</div>

	</div>
</div>
<!-- main container end herer -->
<script src="plugin/tabs/js/sea.tabs.js"></script>

<script type="text/javascript">
	
$(".left-pannel .main-list .toggle-cat").click(function(){
	$(this).next(".nav-fly").slideToggle(200);
	$(this).parent(".main-list").nextAll(".main-list").children(".nav-fly").slideUp(1000);
	$(this).parent(".main-list").prevAll(".main-list").children(".nav-fly").slideUp(1000);
});

</script>
