
<!-- main container start herer -->
<div class="main-container dashboard" ng-controller="admin_controller">

<div ng-include="'pages/admin/admin-left-menu.html'"></div>


	<div class="work-pannel ">
		<!-- top header start here -->
		<div class="top-header">
			<div class="container">
				<ul class="menu">
					<li class="logout-btn"><a href="#0" class="main-link">Logout</a></li>
				</ul>
			</div>
		</div>
		<!-- top header end here -->

		<div class="container">
			<div class="view-pannel">

				<!-- page bar start here -->
				<div class="page-name-bar">
					<h2 class="page-name">Sms Template</h2>
					<ul class="breadcrumbs">
						<li class="list"><a href="#0" class="link">Home</a></li>
						<li class="list">System</li>
						<li class="list">Sms Template</li>
					</ul>

				
				</div>
				<!-- page bar end here -->

				<div class="table-view">
					

					<ul class="cat-listing-show">
						<!-- heading part start here-->
						<li class="list main-name">
							<!-- <div class="coloum-div col-px-50 center">
								<input type="checkbox" name="" class="check-all-btn">
							</div> -->
							<div class="coloum-div">
								<span class="title">Template Name</span>
							</div><!-- 
							<div class="coloum-div col-md-15 center">
								<span class="title">Subscription Date</span>
							</div> -->
							<!-- <div class="coloum-div col-md-15 center">
								<span class="title">Status</span>
							</div> -->
							<div class="coloum-div center  col-px-100">
								<span class="title">Action</span>
							</div>
						</li>
					</ul>
					<!-- heading part end here-->
					<ul class="cat-listing-show list-group">
						<li class="list">
							<!-- <div class="coloum-div col-px-50 center">
								<input type="checkbox" name="" class="check-btn">
							</div> -->
							<div class="coloum-div">
								<span class="title">Order Received / for User</span>
							</div>
							<!-- <div class="coloum-div col-md-15 center">
								<span class="title">12/12/2016</span>
							</div> -->
							<!-- <div class="coloum-div col-md-15 center">
								<span class="title">Subscribed</span>
							</div> -->
							<div class="coloum-div center  col-px-100">
							<a href="#/admin/edit-template" class="red-btn" ng-click="save_template_name('Order Received')"><i class="fa fa-edit" aria-hidden="true" ></i></a>
							</div>
						</li>
						<li class="list">
							<!-- <div class="coloum-div col-px-50 center">
								<input type="checkbox" name="" class="check-btn">
							</div> -->
							<div class="coloum-div">
								<span class="title">Order Dispatched / for Cook</span>
							</div>
							<!-- <div class="coloum-div col-md-15 center">
								<span class="title">12/12/2016</span>
							</div> -->
							<!-- <div class="coloum-div col-md-15 center">
								<span class="title">Subscribed</span>
							</div> -->
							<div class="coloum-div center  col-px-100">
						<a href="#/admin/edit-template" class="red-btn" ng-click="save_template_name('Order Dispatched')"><i class="fa fa-edit" aria-hidden="true"  ></i></a>
							</div>
						</li>
						<li class="list">
							<!-- <div class="coloum-div col-px-50 center">
								<input type="checkbox" name="" class="check-btn">
							</div> -->
							<div class="coloum-div">
								<span class="title">Order Returned / for Admin</span>
							</div>
							<!-- <div class="coloum-div col-md-15 center">
								<span class="title">12/12/2016</span>
							</div> -->
							<!-- <div class="coloum-div col-md-15 center">
								<span class="title">Subscribed</span>
							</div> -->
							<div class="coloum-div center  col-px-100">
							<a href="#/admin/edit-template" class="red-btn" ng-click="save_template_name('Order Returned')"><i class="fa fa-edit" aria-hidden="true"></i></a>
							</div>
						</li>
						<li class="list">
							<!-- <div class="coloum-div col-px-50 center">
								<input type="checkbox" name="" class="check-btn">
							</div> -->
							<div class="coloum-div">
								<span class="title">Order Complete / for Cook</span>
							</div>
							<!-- <div class="coloum-div col-md-15 center">
								<span class="title">12/12/2016</span>
							</div> -->
							<!-- <div class="coloum-div col-md-15 center">
								<span class="title">Subscribed</span>
							</div> -->
							<div class="coloum-div center  col-px-100">
								<a href="#/admin/edit-template" class="red-btn" ng-click="save_template_name('Order Complete')"><i class="fa fa-edit" aria-hidden="true"></i></a>
							</div>
						</li>

					</ul>
				</div>
			</div>
		</div>

	</div>
</div>
