
<!-- main container start herer -->
<div class="main-container dashboard" ng-controller="admin_controller">

<div ng-include="'pages/admin/admin-left-menu.html'"></div>

	<div class="work-pannel" ng-init="fetch_all_banner_detail()">
		<!-- top header start here -->
		<div class="top-header">
			<div class="container">
				<ul class="menu">
					<li class="logout-btn"><a href="#0" class="main-link">Logout</a></li>
				</ul>
			</div>
		</div>
		<!-- top header end here -->

		<div class="container">
			<div class="view-pannel">

				<!-- page bar start here -->
				<div class="page-name-bar">
					<h2 class="page-name">Banners</h2>
					<ul class="breadcrumbs">
						<li class="list"><a href="#0" class="link">Home</a></li>
						<li class="list">Banners</li>
					</ul>

					<ul class="link-icon">
						<li class="list"><a href="#/admin/add-banner" class="blue-btn"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
						<li class="list"><div class="white-btn" ng-click="fetch_all_banner_detail()" style="cursor: pointer"><i class="fa fa-refresh" aria-hidden="true"></i></div></li>
						<li class="list"><div class="red-btn" ng-click="banner_delete()" style="cursor: pointer"><i class="fa fa-trash-o" aria-hidden="true"></i></div></li>
					</ul>
				</div>
				<!-- page bar end here -->

				<div class="table-view">
					<h3 class="head-name">Banner List
						<div class="right col-px-200">
							<select class="select-option" ng-model="selectedItem_Banner" ng-change="selectedItemChanged_Banner(selectedItem_Banner)">
								<option value="">--Status--</option>
								<option value="Enable">Enable</option>
								<option value="Disable"> Disable</option>
							</select>
						</div>
					</h3>

					<ul class="cat-listing-show">
						<!-- heading part start here-->
						<li class="list main-name">
							<div class="coloum-div col-px-50 center">
									<input type="checkbox" name="" class="check-all-btn"  ng-model="hasAllCookChecked" ng-click="checkAll_for_banners()" >
							</div>
							<div class="coloum-div">
								<span class="title">Banner Name</span>
							</div>
							<div class="coloum-div col-md-15 center">
								<span class="title">Status</span>
							</div>
							<div class="coloum-div center  col-px-100">
								<span class="title">Action</span>
							</div>
						</li>
					</ul>
					<!-- heading part end here-->
					<ul class="cat-listing-show list-group">
						<li class="list" ng-repeat="banner in fetch_banner_details">
							<div class="coloum-div col-px-50 center">
							<input type="checkbox" name="" class="check-btn" ng-checked="selection.indexOf(banner) > -1"
							 ng-click="toggleSelection(banner._id)" ng-model="banner.selected">
							</div>
							<div class="coloum-div">
								<span class="title">{{banner.banner_name}}</span>
							</div>
							<div class="coloum-div col-md-15 center">
								<span class="title">{{banner.banner_status}}</span>
							</div>
							<div class="coloum-div center  col-px-100">
								<a href="#/admin/edit-banner" class="red-btn" ng-click="update_banner_temp(banner._id)"  ngf-src="picFile2[0]"><i class="fa fa-edit" aria-hidden="true"></i></a>
							</div>
						</li>
					
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>
