<div  ng-controller="right_menu_controller" ng-init="login_logout_button_check()">

<div class="right-menu-slide" ng-controller="user_register" ng-init="fetch_cart()">

	<div class="more-food-list" ng-init="fetch_all_cuisine()">
		<div class="box-model">
			<h4 class="national-name">Food Menu {{pp}} <i class="fa fa-close close-food-menu"></i></h4>
			<ul class="cat-listing">
				<li class="cat-list">
					<h6 class="cat-name">Indian</h6>
					<ul class="sub-inner">
						<li class="inner-list" ng-repeat="cuisine in view_cuisine_details_user">
							
							
							<a href="#0" class="inner-link">{{cuisin}}</a>
							
							</li>
					
					</ul>
				</li>
				<!--<li class="cat-list">
					<h6 class="cat-name">Italian</h6>
					<ul class="sub-inner">
						<li class="inner-list"><a href="#0" class="inner-link">Punjabi</a></li>
						<li class="inner-list"><a href="#0" class="inner-link">Rajasthani</a></li>
						<li class="inner-list"><a href="#0" class="inner-link">South Indian</a></li>
						<li class="inner-list"><a href="#0" class="inner-link">Gujrati</a></li>
						<li class="inner-list"><a class="inner-link view-more">View More</a></li>
						<li class="inner-list"><a href="#0" class="inner-link">South Indian</a></li>
						<li class="inner-list"><a href="#0" class="inner-link">Gujrati</a></li>
						<li class="inner-list"><a class="inner-link view-more">View More</a></li>
						<li class="inner-list"><a href="#0" class="inner-link">South Indian</a></li>
						<li class="inner-list"><a href="#0" class="inner-link">Gujrati</a></li>
						<li class="inner-list"><a class="inner-link view-more">View More</a></li>
						<li class="inner-list"><a href="#0" class="inner-link">South Indian</a></li>
						<li class="inner-list"><a href="#0" class="inner-link">Gujrati</a></li>
						<li class="inner-list"><a class="inner-link view-more">View More</a></li>
						<li class="inner-list"><a href="#0" class="inner-link">South Indian</a></li>
						<li class="inner-list"><a href="#0" class="inner-link">Gujrati</a></li>
						<li class="inner-list"><a class="inner-link view-more">View More</a></li>
						<li class="inner-list"><a href="#0" class="inner-link">South Indian</a></li>
						<li class="inner-list"><a href="#0" class="inner-link">Gujrati</a></li>
						<li class="inner-list"><a class="inner-link view-more">View More</a></li>
						<li class="inner-list"><a href="#0" class="inner-link">South Indian</a></li>
						<li class="inner-list"><a href="#0" class="inner-link">Gujrati</a></li>
						<li class="inner-list"><a class="inner-link view-more">View More</a></li>
						<li class="inner-list"><a href="#0" class="inner-link">South Indian</a></li>
						<li class="inner-list"><a href="#0" class="inner-link">Gujrati</a></li>
						<li class="inner-list"><a class="inner-link view-more">View More</a></li>
						<li class="inner-list"><a href="#0" class="inner-link">South Indian</a></li>
						<li class="inner-list"><a href="#0" class="inner-link">Gujrati</a></li>
						<li class="inner-list"><a class="inner-link view-more">View More</a></li>
						<li class="inner-list"><a href="#0" class="inner-link">South Indian</a></li>
						<li class="inner-list"><a href="#0" class="inner-link">Gujrati</a></li>
					</ul>
				</li>-->
			</ul>
		</div>
	</div>

	<div class="right-panel" ng-init="get_details_for_logged_in_user_right_menu()">
		<!-- user detail start here -->
	
		<div class="user-detail">
			
			<h2 class="user-name"><a href="#/my_profile_update" style="color: #FFF;font-weight: bolder">	 Hi, {{aa}} </a><i class="fa fa-angle-left close-menu" aria-hidden="true"></i></h2>
			<span class="email">{{user_details.email}}</span>
		</div>
		
		<!-- user detail end here -->
		<ul class="main-menu" >
			<li class="menu-list">
				<h4 class="section-name">Profile View </h4>
				<ul class="sub-cat">
					<li class="sub-cat-list" >

						<a href="#/my_profile_update" class="sub-cat-link">My Wallet</a>
						<a href="#/my_profile_update" class="sub-cat-link">My Profile</a>
						<a href="#/my_profile_update" class="sub-cat-link">Password Update</a>
						<a href="#/my_profile_update" class="sub-cat-link">Address</a>
						<a href="#/my_profile_update" class="sub-cat-link">Orders</a>
						<a href="#/my_profile_update" class="sub-cat-link">Manage Account</a>
						
						</li>
					
				</ul>
			</li>
			
			<li class="menu-list"><span class="copyright">{{global_setting_detail_view.copyright}} 	</span></li>
		</ul>

	</div>
	
	<span class="overlay"></span>
</div>

<div class="joint-widgets" ng-init="fetch_cart()" > 
	<ul class="mobile-apps">
		<li class="list"><a href="{{global_setting_detail_view.ios_link}}" class="link"><i class="fa fa-apple" aria-hidden="true"></i></a></li>
		<li class="list"><a href="{{global_setting_detail_view.android_link}}" class="link"><i class="fa fa-android" aria-hidden="true"></i></a></li>
	</ul>

	<div href="#/cart" class="cart-btn" ng-click="saveCart()"> <span class="number">{{cart_total_item}}</span>
	<ul class="cart-dropdown">
        <li class="list">
            <div class="coloum-div col-px-50">
                <span class="icon"><img src="images/product/1.jpg"></span>
            </div>
            <div class="coloum-div">
                <a href="" class="name">Food Name</a>
                <div class="date">Order By :<span class="by">7-4-2017</span></div>
            </div>
            <div class="coloum-div col-px-50">
                <span class="price">Rs. 120</span>
            </div>
        </li>
        <li class="list">
            <div class="coloum-div col-px-50">
                <span class="icon"><img src="images/product/1.jpg"></span>
            </div>
            <div class="coloum-div">
                <a href="" class="name">Food Name</a>
                <div class="date">Order By :<span class="by">7-4-2017</span></div>
            </div>
            <div class="coloum-div col-px-50">
                <span class="price">Rs. 120</span>
            </div>
        </li>
        <a href="#0" class="view-cart">Go to Cart</a>
    </ul>
	</div>
	<span class="login-btn"  ng-click="ask_user_type()" ng-show="login_button_show">Login</span>

		<div class="popup" ng-show="ask_user_type_show">	
	<div class="ask-user-type" >
		<span class="close-me"  ng-click="ask_user_type()"><i class="fa fa-close"></i></span>
		<h3 class="heading">Choose your user type</h3>
		<ul class="cat-buttons">
			<li class="list"><a href="#/user_login" class="link user">User</a></li>
			<li class="list"><a href="#/cook_login"  class="link cook">Cook</a></li>
		</ul>
		<span class="slang"><img src="public/images/slang.png"></span>
	</div>
</div>



	<span class="login-btn"  ng-click="logout_for_user_cook()" ng-show="logout_button_show">Log Out</span>
</div>

<span class="menu-btn" ng-show="menu_bars_show"><i class="fa fa-bars" aria-hidden="true"></i></span>


</div>