<ul class="my-accout-pannel" auto-active>
	<h2 class="title-name">My Account <span style="float: right;font-size: 13px;color:green" ng-if="vv=='Approved'">Approved</span> <span style="float: right;font-size: 13px;color:red" ng-if="vv=='Pending For Approval'">Un-Approved</span> <span style="float: right;font-size: 13px;color:red" ng-if="vv=='new'">Un-Approved</span></h2>
	<li class="list"> <a href="#/cook_payment" class="link">Payment Report <i class="bullets"><img src="public/images/icon/bullets.png"></i></a></li>
	<li class="list"> <a href="#/cook_order" class="link">Order <i class="bullets"><img src="public/images/icon/bullets.png"></i></a></li>
	<li class="list"> <a href="#/cook_food" class="link">Food Section <i class="bullets"><img src="public/images/icon/bullets.png"></i></a></li>
	<li class="list"> <a href="#/company_details" class="link">Company Details <i class="bullets"><img src="public/images/icon/bullets.png"></i></a></li>
	<li class="list"> <a href="#/cook_profile" class="link">Profile Update <i class="bullets"><img src="public/images/icon/bullets.png"></i></a></li>
	<li class="list"> <a href="#/cook_password_change" class="link">Password Update <i class="bullets"><img src="public/images/icon/bullets.png"></i></a></li>
	<li class="list"> <a href="#/deactive_cook" class="link">Deactivate Accounts <i class="bullets"><img src="public/images/icon/bullets.png"></i></a></li>
</ul>